USE [DWTRUONGTIEUHOC]
GO
/****** Object:  Table [dbo].[DIM_BOMON]    Script Date: 04/08/2020 5:18:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_BOMON](
	[MABM] [nchar](15) NOT NULL,
	[TENBM] [nvarchar](50) NULL,
 CONSTRAINT [PK_BOMON] PRIMARY KEY CLUSTERED 
(
	[MABM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_DIENHOC]    Script Date: 04/08/2020 5:18:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_DIENHOC](
	[MADH] [nchar](15) NOT NULL,
	[TENDH] [nvarchar](50) NULL,
 CONSTRAINT [PK_DIENHOC] PRIMARY KEY CLUSTERED 
(
	[MADH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_GDCS]    Script Date: 04/08/2020 5:18:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_GDCS](
	[MAGDCS] [nchar](15) NOT NULL,
	[LOAIGD] [nvarchar](100) NULL,
 CONSTRAINT [PK_GDCS] PRIMARY KEY CLUSTERED 
(
	[MAGDCS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_GIAOVIEN]    Script Date: 04/08/2020 5:18:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_GIAOVIEN](
	[MACBGV] [nchar](15) NOT NULL,
	[TENCBGV] [nvarchar](50) NULL,
	[MABM] [nchar](15) NULL,
 CONSTRAINT [PK_GIAOVIEN] PRIMARY KEY CLUSTERED 
(
	[MACBGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_KHUVUC]    Script Date: 04/08/2020 5:18:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_KHUVUC](
	[MAKV] [nchar](15) NOT NULL,
	[TENXP] [nchar](50) NULL,
	[MAQH] [nchar](15) NULL,
 CONSTRAINT [PK_KHUVUC] PRIMARY KEY CLUSTERED 
(
	[MAKV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_LOP]    Script Date: 04/08/2020 5:18:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_LOP](
	[MALOP] [nchar](15) NOT NULL,
	[TENLOP] [nvarchar](20) NULL,
	[SISO] [int] NULL,
 CONSTRAINT [PK_LOP] PRIMARY KEY CLUSTERED 
(
	[MALOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_NIENKHOA]    Script Date: 04/08/2020 5:18:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_NIENKHOA](
	[MANK] [nchar](15) NOT NULL,
	[TENNK] [nvarchar](50) NULL,
 CONSTRAINT [PK_NIENKHOA] PRIMARY KEY CLUSTERED 
(
	[MANK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_QUANHUYEN]    Script Date: 04/08/2020 5:18:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_QUANHUYEN](
	[MAQH] [nchar](15) NOT NULL,
	[TENQH] [nvarchar](50) NULL,
	[MAT] [nchar](15) NULL,
 CONSTRAINT [PK_QUANHUYEN] PRIMARY KEY CLUSTERED 
(
	[MAQH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_TINH]    Script Date: 04/08/2020 5:18:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_TINH](
	[MAT] [nchar](15) NOT NULL,
	[TENTINH] [nvarchar](50) NULL,
 CONSTRAINT [PK_TINH] PRIMARY KEY CLUSTERED 
(
	[MAT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FACT_DIEM]    Script Date: 04/08/2020 5:18:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACT_DIEM](
	[MANK] [nchar](15) NOT NULL,
	[MALOP] [nchar](15) NOT NULL,
	[MAKV] [nchar](15) NOT NULL,
	[MADH] [nchar](15) NOT NULL,
	[MACBGV] [nchar](15) NOT NULL,
	[MAGDCS] [nchar](15) NOT NULL,
	[DIEMTB] [float] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[DIM_BOMON] ([MABM], [TENBM]) VALUES (N'BM01           ', N'Khối 1')
INSERT [dbo].[DIM_BOMON] ([MABM], [TENBM]) VALUES (N'BM02           ', N'Khối 2')
INSERT [dbo].[DIM_BOMON] ([MABM], [TENBM]) VALUES (N'BM03           ', N'Khối 3')
GO
INSERT [dbo].[DIM_DIENHOC] ([MADH], [TENDH]) VALUES (N'DH1            ', N'Bán trú')
INSERT [dbo].[DIM_DIENHOC] ([MADH], [TENDH]) VALUES (N'DH2            ', N'Khac')
GO
INSERT [dbo].[DIM_GDCS] ([MAGDCS], [LOAIGD]) VALUES (N'GDCS0          ', N'Khác')
INSERT [dbo].[DIM_GDCS] ([MAGDCS], [LOAIGD]) VALUES (N'GDCS1          ', N'Có cha mẹ thuộc diện hộ nghèo theo quy định')
INSERT [dbo].[DIM_GDCS] ([MAGDCS], [LOAIGD]) VALUES (N'GDCS2          ', N'Có cha mẹ thường trú tại xã biên giới, vùng cao, hải đảo, xã ĐBKK')
GO
INSERT [dbo].[DIM_GIAOVIEN] ([MACBGV], [TENCBGV], [MABM]) VALUES (N'301481264      ', N'Văn Kim Liên', N'BM01           ')
INSERT [dbo].[DIM_GIAOVIEN] ([MACBGV], [TENCBGV], [MABM]) VALUES (N'8301481225     ', N'Huỳnh Thị Hồng Ngoan', N'BM04           ')
INSERT [dbo].[DIM_GIAOVIEN] ([MACBGV], [TENCBGV], [MABM]) VALUES (N'8301481227     ', N'Huỳnh Thị Thu Lan', N'BM02           ')
GO
INSERT [dbo].[DIM_KHUVUC] ([MAKV], [TENXP], [MAQH]) VALUES (N'26491          ', N'Xã Phú Đông                                       ', N'742            ')
INSERT [dbo].[DIM_KHUVUC] ([MAKV], [TENXP], [MAQH]) VALUES (N'26821          ', N'P.Linh Đông                                       ', N'762            ')
INSERT [dbo].[DIM_KHUVUC] ([MAKV], [TENXP], [MAQH]) VALUES (N'26848          ', N'P.Phước Long B                                    ', N'763            ')
GO
INSERT [dbo].[DIM_LOP] ([MALOP], [TENLOP], [SISO]) VALUES (N'L1/1           ', N'Lớp 1/1', 33)
INSERT [dbo].[DIM_LOP] ([MALOP], [TENLOP], [SISO]) VALUES (N'L1/2           ', N'Lớp 1/2', 30)
INSERT [dbo].[DIM_LOP] ([MALOP], [TENLOP], [SISO]) VALUES (N'L1/3           ', N'Lớp 1/3', 30)
GO
INSERT [dbo].[DIM_NIENKHOA] ([MANK], [TENNK]) VALUES (N'NK1            ', N'2018-2019')
INSERT [dbo].[DIM_NIENKHOA] ([MANK], [TENNK]) VALUES (N'NK2            ', N'2019-2020')
GO
INSERT [dbo].[DIM_QUANHUYEN] ([MAQH], [TENQH], [MAT]) VALUES (N'742            ', N'Huyện Nhơn Trạch', N'75             ')
INSERT [dbo].[DIM_QUANHUYEN] ([MAQH], [TENQH], [MAT]) VALUES (N'762            ', N'Quận Thủ Đức', N'79             ')
INSERT [dbo].[DIM_QUANHUYEN] ([MAQH], [TENQH], [MAT]) VALUES (N'763            ', N'Quận 9', N'79             ')
GO
INSERT [dbo].[DIM_TINH] ([MAT], [TENTINH]) VALUES (N'75             ', N'Tỉnh Đồng Nai')
INSERT [dbo].[DIM_TINH] ([MAT], [TENTINH]) VALUES (N'79             ', N'Thành phố Hồ Chí Minh')
INSERT [dbo].[DIM_TINH] ([MAT], [TENTINH]) VALUES (N'83             ', N'Tỉnh Bến Tre')
GO
INSERT [dbo].[FACT_DIEM] ([MANK], [MALOP], [MAKV], [MADH], [MACBGV], [MAGDCS], [DIEMTB]) VALUES (N'NK2            ', N'L2_1/1         ', N'29080          ', N'DH1            ', N'8301491609     ', N'GDCS1          ', 9.125)
INSERT [dbo].[FACT_DIEM] ([MANK], [MALOP], [MAKV], [MADH], [MACBGV], [MAGDCS], [DIEMTB]) VALUES (N'NK2            ', N'L2_1/2         ', N'29104          ', N'DH1            ', N'8301481247     ', N'GDCS3          ', 8.8125)
INSERT [dbo].[FACT_DIEM] ([MANK], [MALOP], [MAKV], [MADH], [MACBGV], [MAGDCS], [DIEMTB]) VALUES (N'NK2            ', N'L2_3/2         ', N'29095          ', N'DH1            ', N'8301481263     ', N'GDCS0          ', 5.76)
GO
ALTER TABLE [dbo].[DIM_GIAOVIEN]  WITH CHECK ADD  CONSTRAINT [FK_DIM_GIAOVIEN_DIM_BOMON] FOREIGN KEY([MABM])
REFERENCES [dbo].[DIM_BOMON] ([MABM])
GO
ALTER TABLE [dbo].[DIM_GIAOVIEN] CHECK CONSTRAINT [FK_DIM_GIAOVIEN_DIM_BOMON]
GO
ALTER TABLE [dbo].[DIM_KHUVUC]  WITH CHECK ADD  CONSTRAINT [FK_DIM_KHUVUC_DIM_QUANHUYEN] FOREIGN KEY([MAQH])
REFERENCES [dbo].[DIM_QUANHUYEN] ([MAQH])
GO
ALTER TABLE [dbo].[DIM_KHUVUC] CHECK CONSTRAINT [FK_DIM_KHUVUC_DIM_QUANHUYEN]
GO
ALTER TABLE [dbo].[DIM_QUANHUYEN]  WITH CHECK ADD  CONSTRAINT [FK_DIM_QUANHUYEN_DIM_TINH] FOREIGN KEY([MAT])
REFERENCES [dbo].[DIM_TINH] ([MAT])
GO
ALTER TABLE [dbo].[DIM_QUANHUYEN] CHECK CONSTRAINT [FK_DIM_QUANHUYEN_DIM_TINH]
GO
ALTER TABLE [dbo].[FACT_DIEM]  WITH CHECK ADD  CONSTRAINT [FK_FACT_DIEM_DIM_DIENHOC] FOREIGN KEY([MADH])
REFERENCES [dbo].[DIM_DIENHOC] ([MADH])
GO
ALTER TABLE [dbo].[FACT_DIEM] CHECK CONSTRAINT [FK_FACT_DIEM_DIM_DIENHOC]
GO
ALTER TABLE [dbo].[FACT_DIEM]  WITH CHECK ADD  CONSTRAINT [FK_FACT_DIEM_DIM_GDCS] FOREIGN KEY([MAGDCS])
REFERENCES [dbo].[DIM_GDCS] ([MAGDCS])
GO
ALTER TABLE [dbo].[FACT_DIEM] CHECK CONSTRAINT [FK_FACT_DIEM_DIM_GDCS]
GO
ALTER TABLE [dbo].[FACT_DIEM]  WITH CHECK ADD  CONSTRAINT [FK_FACT_DIEM_DIM_GIAOVIEN] FOREIGN KEY([MACBGV])
REFERENCES [dbo].[DIM_GIAOVIEN] ([MACBGV])
GO
ALTER TABLE [dbo].[FACT_DIEM] CHECK CONSTRAINT [FK_FACT_DIEM_DIM_GIAOVIEN]
GO
ALTER TABLE [dbo].[FACT_DIEM]  WITH CHECK ADD  CONSTRAINT [FK_FACT_DIEM_DIM_KHUVUC] FOREIGN KEY([MAKV])
REFERENCES [dbo].[DIM_KHUVUC] ([MAKV])
GO
ALTER TABLE [dbo].[FACT_DIEM] CHECK CONSTRAINT [FK_FACT_DIEM_DIM_KHUVUC]
GO
ALTER TABLE [dbo].[FACT_DIEM]  WITH CHECK ADD  CONSTRAINT [FK_FACT_DIEM_DIM_LOP] FOREIGN KEY([MALOP])
REFERENCES [dbo].[DIM_LOP] ([MALOP])
GO
ALTER TABLE [dbo].[FACT_DIEM] CHECK CONSTRAINT [FK_FACT_DIEM_DIM_LOP]
GO
ALTER TABLE [dbo].[FACT_DIEM]  WITH CHECK ADD  CONSTRAINT [FK_FACT_DIEM_DIM_NIENKHOA] FOREIGN KEY([MANK])
REFERENCES [dbo].[DIM_NIENKHOA] ([MANK])
GO
ALTER TABLE [dbo].[FACT_DIEM] CHECK CONSTRAINT [FK_FACT_DIEM_DIM_NIENKHOA]
GO
CREATE TYPE FACT AS TABLE(
[MANK] [nchar](15) NOT NULL,
	[MALOP] [nchar](15) NOT NULL,
	[MAKV] [nchar](15) NOT NULL,
	[MADH] [nchar](15) NOT NULL,
	[MACBGV] [nchar](15) NOT NULL,
	[MAGDCS] [nchar](15) NOT NULL,
	[DIEMTB] [float] NULL
)
GO
CREATE PROCEDURE INSERTFACT @DT AS FACT READONLY
AS
	BEGIN
		SET NOCOUNT ON;
		INSERT FACT_DIEM SELECT * FROM @DT
	END